* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px dashed black;
    font-family: sans-serif;
}

img {
    width: 100%;
}

strong {
    display: block;
}

.deug {

    .wrapper {
        background-color: lightblue;
    }

    .top {
        background-color: rgb(167, 255, 167);
    }

    .bottom {
        background-color: lightcoral;
    }

    .menu {
        background-color: lightgray;
    }

    .display-spot {
        background-color: lightsalmon;
    }

    .nav {
        background-color: aquamarine;
    }

    .menu-logo {
        background-color: rgb(152, 73, 226);
    }

    .menu-section {
        background-color: blueviolet;
    }

    .botton {
        background-color: blueviolet;
    }

    .list-1 {
        background-color: bisque;
    }

    .list-2 {
        background-color: bisque;
    }

    .square {
        background-color: beige;
    }

    .playlist {
        background-color: beige;

    }
}

.wrapper {
    width: 100%;
    height: 100vh;
}

.top {
    height: calc(100% - 70px);
    display: flex;

    .menu {
        height: 100%;
        width: 250px;
        overflow: hidden;
        background-color: black;

        .menu-logo {
            height: 60px;
            display: flex;
        }

        .menu-logo img {
            align-items: center;
        }

        .menu-section {
            height: 90%;
            margin: 0 auto;

        }


    }

    .display-spot {
        height: 100%;
        width: calc(100% - 250px);
        overflow: overlay;
        background-color: #141922;
        color: white;


        .nav {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: fixed;
            opacity: 0.8;
            background-color: rgb(0, 0, 0);
        }

        .list-display ul {
            color: #7b7d82;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            padding-top: 70px;
            list-style: none;
            font-size: smaller;

        }


    }

}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -1px;
    gap: 20px;
}

.col {

    width: calc(100% / 6 - 20px);
    /* height: 200px; */
}

.col-list {

    width: calc(100% / 6 - 20px);
    height: 20px;
}

.flex-card p {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
}

h3 {
    margin: 20px;
}



.bottom {
    height: 70px;
}

.list-1 {
    padding: 3px;
    display: flex;

}

.list-1 img {
    width: 100%;
    vertical-align: middle;
}

.flex-list1 li {
    align-items: center;
    vertical-align: middle;

}


.list-2 {
    gap: 2rem;
}

.square {
    height: 30px;
    margin: 5px 0px
}

.playlist {
    height: 20px;
    margin: 5px 0px;
}


.botton {
    border-radius: 20px;
    border: solid 1px white;
    position: absolute;
    z-index: 10;
    right: 36px;
    padding: 8px 1.5rem;
    margin-top: 10px;
    background: none;
    color: white;

}

.botton h3 {
    margin: 0px;
}


@media screen and (max-width: 639px) {

    .top {

        .menu {
            height: 100%;
            width: 50px;
        }
    }

    .top {

        .display-spot {
            height: 100%;
            width: calc(100% - 50px);
        }

    }

    .col {

        width: calc(100% / 2 - 20px);


    }

    .col-list {

        width: calc(100% / 4 - 20px);

    }

    .section-menu1 {
        display: none;
    }

    .list-1 span {
        display: none;
    }


}

@media screen and (min-width: 639px) {

    .list-1 li img {
        width: 30px;
        height: 30px;
    }

}

@media screen and (min-width: 480px) {

    .col-list {

        width: calc(100% / 3 - 20px);

    }

    .col {

        width: calc(100% / 2 - 20px);


    }



}

@media screen and (min-width: 878px) {

    .col-list {

        width: calc(100% / 5 - 20px);

    }

    .col {

        width: calc(100% / 4 - 20px);


    }

}

@media screen and (min-width: 1440px) {

    .col-list {

        width: calc(100% / 6 - 20px);

    }


    .col {

        width: calc(100% / 6 - 20px);


    }


}