* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    width: 100%;
}

strong {
    display: block;
}

hr {
    width: 60%;
    border: solid 1px #8cce2c;
    margin: 4px auto;
}

.hr2 {
    width: 150%;
    border: solid 1px #7b7d82;
    margin: 8px auto;
}



li:hover {
    color: white;

}


.deug {

    .wrapper {
        background-color: lightblue;
    }

    .top {
        background-color: rgb(167, 255, 167);
    }

    .bottom {
        background-color: lightcoral;
    }

    .menu {
        background-color: lightgray;
    }

    .display-spot {
        background-color: lightsalmon;
    }

    .nav {
        background-color: aquamarine;
    }

    .menu-logo {
        background-color: rgb(152, 73, 226);
    }

    .menu-section {
        background-color: blueviolet;
    }

    .botton {
        background-color: blueviolet;
    }

    .list-1 {
        background-color: bisque;
    }

    .list-2 {
        background-color: bisque;
    }

    .square {
        background-color: beige;
    }

    .playlist {
        background-color: beige;

    }
}

.wrapper {
    width: 100%;
    height: 100vh;
}

.top {
    height: calc(100% - 70px);
    display: flex;

    .menu {
        height: 100%;
        width: 250px;
        overflow: hidden;
        background-color: black;

        .menu-logo {
            height: 60px;
        }

        .menu-section {
            height: 76%;
            margin: 0 auto;
            color: white;

        }


    }

    .profile-utante {
        margin-top: 10px;
    }

    .profile-utante img {
        background-color: #7b7d82;
        padding: 2px;
        border-radius: 50%;
        vertical-align: middle;
    }


    .display-spot {
        height: 100%;
        width: calc(100% - 250px);
        overflow: overlay;
        background-color: #141922;
        color: white;


        .nav {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: sticky;
            top: 0;
            right: 0;
            opacity: 0.8;
            background-color: rgb(0, 0, 0);
        }

        .list-display ul {
            color: #7b7d82;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            list-style: none;
            font-size: smaller;
            padding-top: 30px;

        }
    }

}

.home-border {
    border-left: 2px solid #8cce2c;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -1px;
    gap: 20px;
}

.col {

    width: calc(100% / 6 - 20px);
    /* height: 200px; */
}

.col-list {

    width: calc(100% / 6 - 20px);
    height: 20px;
}

.hover-card {
    position: relative;
}

.flex-card p {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
}

.flex-card i {
    display: none;
    border-radius: 50%;
    border: 6px solid white;
    padding: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    opacity: 50%;
    font-size: 30px;
}

.flex-card:hover i {
    display: inline;
}

.flex-card-2:hover i {
    display: inline;
}

.flex-card-2 i {
    display: none;
    border-radius: 50%;
    border: 6px solid white;
    padding: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    opacity: 50%;
    font-size: 30px;
}

.flex-card-2:hover i {
    display: inline;
}



.overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: 50%;
}

.flex-card:hover .overlay {
    display: inline;
}


.flex-card-2:hover .overlay {
    display: inline;
    border-radius: 50%;
}



.flex-card-2 p {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
}


.flex-card-2 img {
    border-radius: 50%;
}


h3 {
    margin: 20px;

}

.sezione-1 h3 {
    font-size: x-large;
}

.section-2 h3 {
    margin-bottom: 0px;
    font-size: x-large;
}

.section-2 h3:hover {
    margin-bottom: 0px;
    font-size: x-large;
}

.section-2 p {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 7px;
    color: #7b7d82;
}

.section-3 h3 {
    margin-bottom: 0px;
    font-size: x-large;
}

.section-3 p {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 7px;
    color: #7b7d82;
}



.bottom {
    height: 70px;
    background-color: #282828;
    display: flex;

}

.section-1-bottom {
    width: 30%;
    height: 70px;

}

.section-2-bottom {
    width: 40%;
    height: 70px;

}

.buttons-sp ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-top: 8px;
    align-items: center;
    font-size: 16px;
}

.play {
    font-size: 15px;
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    padding-left: 7px;
    text-align: center;
    border-radius: 50%;
}

.line-play {
    display: flex;
    justify-content: center;
    margin: 5px auto;
    color: white;
    font-size: small;
    align-items: center;
}

.slide {
    height: 6px;
    background-color: #595959;
    border-radius: 20px;
    margin: 5px 30px;
    text-align: center;
    width: 50%;
    display: flex;

}

.slide-in {
    height: 6px;
    background-color: #c2c2c2;
    width: 45%;
    padding-top: 1px;
    position: relative;
}

.slide:hover .slide-in {
    height: 6px;
    background-color: #8cce2c;
    width: 45%;
    padding-top: 1px;

}

.slide2:hover .slide-in {
    height: 6px;
    background-color: #8cce2c;
    width: 45%;
    padding-top: 1px;

}

.cube-slide {
    display: none;
    width: 12px;
    height: 11px;
    background-color: white;
    position: absolute;
    right: 51%;
    border-radius: 50%;
    bottom: 12px;
}


.slide:hover .cube-slide {
    display: block;
}

.slide2:hover .cube-slide2 {
    display: block;
}

.cube-slide2 {
    display: none;
    width: 12px;
    height: 11px;
    background-color: white;
    position: absolute;
    right: -2%;
    border-radius: 50%;
    bottom: -3px;
}

.section-3-bottom {
    width: 30%;
    height: 70px;
}

.section-3-bottom ul {
    display: flex;
    gap: 10px;
}

.section-3-bottom ul li {
    list-style: none;

}

.buttons-sp2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 25px;

}

.slide2 {
    height: 6px;
    background-color: #595959;
    border-radius: 20px;
    margin: 5px 30px;
    text-align: center;
    width: 30%;
    display: flex;

}

.list-1 {
    padding: 5px;
    margin-right: 2px;
    color: #7b7d82;
    display: flex;
}

.list-1-profile {
    padding: 3px;
    color: #7b7d82;
    display: flex;
    overflow: hidden;
}

.list-1-profile img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}


.list-1 img {
    width: 100%;
    vertical-align: middle;
}

.flex-list1 li {
    align-items: center;
    list-style: none;
    vertical-align: middle;

}

.flex-list1 span {
    margin-left: 5px;
    vertical-align: middle;

}




.list-2 {
    color: #7b7d82;
    padding-top: 31px;
    padding-left: 11px;
}

.list-2 ul li {
    list-style: none;
    margin-bottom: 15px;
}

.square {
    height: 30px;
    margin: 5px 0px;

}

.playlist {
    height: 20px;
    margin: 5px 0px;
    padding-left: 10px;
    font-size: larger;
}

.sec-p {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 10px;
}


.sec-p2 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    color: white;
}

.sec-p2 img {
    width: 70px;
    height: 70px;
    padding: 10px;
    margin-left: 10p;
}

.cube {
    width: 40px;
    height: 40px;
    background-color: #595959;
    position: relative;
}

.cube i {
    position: absolute;
    top: 10px;
    left: 11px;
    font-size: 20px;

}


.botton {
    border-radius: 20px;
    border: solid 1px white;
    padding: 8px 1.5rem;
    background: none;
    color: white;
    margin-right: 20px;
}

.botton:hover {
    padding: 9px 2rem;
}

.botton h3 {
    margin: 0px;
}


.logo {
    display: none;
    width: 60%;
    height: 0%;
}

.logo-small {
    display: block;
    padding-top: 5px;
}


@media screen and (max-width: 639px) {

    .top {

        .menu {
            height: 100%;
            width: 50px;
        }
    }

    .top {

        .display-spot {
            height: 100%;
            width: calc(100% - 50px);
        }

    }

    .col {

        width: calc(100% / 2 - 20px);


    }

    .section-menu1 {
        display: none;
    }

    .list-1 span {
        display: none;
    }

    .list-1-profile span {
        display: none;
    }

    .hr2 {
        display: none;
    }

    .home-border {
        border-left: none;
    }

}







@media screen and (min-width: 639px) {

    .list-1 li img {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }

    .list-1 {
        margin: 20px 0px;
        border: 0px;
    }


    .logo {
        display: block;
        margin: auto 20px;
    }

    .logo-small img {
        display: none;

    }

    .section-menu1 {
        display: block;
    }

    .list-2 span {
        display: block;
        color: white;
    }

    .flex-list1 li {
        align-items: center;
        vertical-align: middle;
        margin: 0px 10px 10px 0px;

    }

}

@media screen and (min-width: 480px) {

    .col {

        width: calc(100% / 2 - 20px);


    }

}






@media screen and (min-width: 878px) {

    .col {

        width: calc(100% / 4 - 20px);


    }

}

@media screen and (min-width: 1440px) {

    .col {

        width: calc(100% / 6 - 20px);


    }


}